@font-face {
    font-family: cursedTimer;
    src: url(cursed-timer.ttf);
}
body {
    margin: 0;
    background: #1B244A;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

h3 {
    font-size: 60px;
    font-weight: 700;
    color: #EEEEEE;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin: 10px auto;
    background: #080001;
    font-family: cursedTimer;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    color: #F94F6D;
    border-radius: 5px;
    padding: 20px;
}

button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: cursedTimer;
    background: #1B244A;
    font-size: 18px;
    color: #9AABD8;
    font-weight: 400;
    margin: 5px;
    padding: 12px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #2A2D5D;
}

@media (max-width: 600px) {
    h3 {
        font-size: 48px;
    }

    p {
        font-size: 60px;
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .container {
        flex-direction: column;
        align-items: center;
}